
<section class="mb-5">
  <h3 class="ps-5 mt-3">Inactive Posts</h3>
  <div class="container mt-3">
    <div class="row row-gap-3">
      <div *ngFor="let singlePost of post" class="col-md-6 col-12">
        <div  class="card shadow">
          <div class="card-body">
            <h5 class="card-title">{{singlePost.title}}</h5>
            <p class="card-text truncate-multi-line">{{singlePost.body}}</p>
            <p>Tags: {{singlePost.tags}}</p>
            <a [routerLink]="['/post-detail', singlePost.id]" class="sm-btn btn-outline-secondary">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
